h1 {
  text-align: center;
}
table {
  margin: 0 auto;
  border: 2px solid black;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px;
  background-color: #a9a9a9;
}

tr {
  background-color: #ffffff;
}

tr:nth-of-type(2n+1) {
  background-color: #cbcbcb;
}

td {
  padding: 5px;
}

td:first-of-type {
  width: 400px;
  overflow-x: hidden;
}

.add-pet {
  text-align: center;
  margin: 10px;
}
