<h1>All Users</h1>
<div class="add-user">
  <input
  [(ngModel)]="newUser">
  <button
    (click)="addUser()">Add
  </button>
</div>
<table>
  <thead>
      <tr>
        <th>Name</th>
        <th>Pets Count</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users">
    <td
    [textContent]="user.name"
    [routerLink]="'/pets/' + user.id">

    </td>
    <td [textContent]="user.count"></td>
    <td>
      <button
      (click)="delete(user)">DELETE</button>
    </td>
  </tr>
  </tbody>
</table>
